* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Fascinate", cursive;
  font-family: "Pacifico", cursive;
  font-family: "Shadows Into Light", cursive;
  font-family: "Spline Sans Mono", monospace;
  width: 100vw;
}

/************************ NAVBAR **************************/
.navbar-brand img {
  height: 3rem;
}

.navbar-nav {
  margin-left: auto;
  gap: 50px;
}

@media (max-width: 990px) {
  .navbar-nav {
    gap: 20px;
  }
}
/************************ NAVBAR **************************/
/****************************** MAIN *********************/
.main {
  height: 88vh;
}

.main__container {
  display: flex;
  flex-direction: column;
  /* ARREGLAR EL GRID PORQUE EL FORM SE ENCUENTRA MUY SEPARADO DEL FOOTER */
}

/**************PRECIOS Y DESCUENTOS *********/
.descuento-y-precio__container {
  height: 200px;
  margin: auto auto;
  /*     width: 80vw; */
  display: flex;
  justify-content: center;
  /*  border: 1px solid green; */
}
@media (min-width: 400px) {
  .descuento-y-precio__container {
    height: 250px;
  }
}

.descuento-y-precio {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  margin-top: 30px;
  /*  border: 1px solid red; */
  width: 100%;
}
@media (min-width: 1250px) {
  .descuento-y-precio {
    height: 50%;
  }
}
.descuento-y-precio .descuento__container {
  /*  border: 1px solid black; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 10px;
}
.descuento-y-precio .descuento__container .descuento__item {
  display: grid;
  font-size: 1.2rem;
  text-align: center;
  border: 1px solid cyan;
}
.descuento-y-precio .descuento__container .descuento__item__disable {
  color: gray;
}
.descuento-y-precio .descuento__container #descuento__item__active {
  border: 1px solid rgb(209, 209, 53);
}

.descuento__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.descuento__text h2 {
  font-size: 10px;
}
@media (min-width: 1250px) {
  .descuento__text {
    font-size: 1.2rem;
  }
}

/**************PRECIOS Y DESCUENTOS *********/
/********************** FORM **************/
.form__container__main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  height: 69vh;
}
@media (min-width: 1250px) {
  .form__container__main {
    height: 60vh;
  }
}

.form__container {
  /*  border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90vw;
  height: 50vh;
  margin: 100px 0 auto 0;
}
@media (min-width: 1250px) {
  .form__container {
    margin: 70px auto 0 auto;
  }
}
.form__container .form {
  /*   border: 1px solid black; */
  text-decoration: none;
  /*   border: 1px solid red; */
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 70%;
}
.form__container .form input {
  border-radius: 5%;
  margin-bottom: 40px;
  height: 70px;
  font-size: 1rem;
}
@media (min-width: 1250px) {
  .form__container .form input {
    height: 50px;
  }
}
.form__container .form input::-moz-placeholder {
  padding-left: 10px;
  text-align: start;
  font-size: 1rem;
}
.form__container .form input:-ms-input-placeholder {
  padding-left: 10px;
  text-align: start;
  font-size: 1rem;
}
.form__container .form input::placeholder {
  padding-left: 10px;
  text-align: start;
  font-size: 1rem;
}
.form__container .form__nombre-y-apellido {
  display: flex;
  width: 100%;
  gap: 20px;
  height: 60px;
  margin-bottom: 60px;
}
.form__container .form__nombre-y-apellido #formNombre {
  width: 100%;
}
.form__container .form__nombre-y-apellido #formApellido {
  width: 100%;
}
.form__container .form__cantidad-y-categoria__container {
  /* border: 1px solid aquamarine; */
  display: flex;
  width: 80vw;
}
.form__container .form__cantidad-y-categoria {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  width: 63vw;
  gap: 20px;
}
.form__container .form__cantidad-y-categoria input {
  display: flex;
  width: 100%;
}
.form__container .form__cantidad-y-categoria label {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  margin-bottom: 10px;
}
@media (min-width: 1250px) {
  .form__container .form__cantidad-y-categoria label {
    margin-bottom: 5px;
  }
}
.form__container .form .form__total {
  /*  border: 1px solid green; */
  background-color: #cce5ff;
  border-radius: 5%;
  height: 50px;
  width: 85%;
  display: flex;
  align-items: center;
  margin: 0 auto 30px auto;
}
.form__container .form .form__total__text {
  margin: 5px 0 5px 20px;
  font-size: 1.2rem;
  color: blue;
}
.form__container .form .form__btn {
  /*  border: 1px solid red; */
  height: 50px;
  display: grid;
  grid-template-columns: auto auto;
  margin: 0 auto auto auto;
  width: 70%;
  gap: 1rem;
}
.form__container .form .form__btn button {
  background-color: #97c93e;
  border-style: none;
  border-radius: 5%;
  height: 100%;
  width: 100%;
}
.form__container .form .form__btn button:hover {
  background-color: #8ebe3a;
}

/********************** FORM *************/
footer {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

/************************ MAIN **************************//*# sourceMappingURL=main.css.map */